<h1><%=@merchant.name%> Bulk Discounts</h1>
<%=link_to "Create Discount", new_merchant_bulk_discount_path(@merchant)%>

<%@merchant_discounts.each do |discount|%>
<div id="discount_<%=discount.id%>">
<b><%=link_to "Bulk Discount #{discount.id}", merchant_bulk_discount_path(@merchant, discount)%></b><br>
Percentage Discount: <%=discount.percentage_discount%>%<br>
Quantity Threshold: <%=discount.quantity_threshold%><br>
</div>
<%end%>